<!--
 * @Author: your name
 * @Date: 2021-01-18 09:41:14
 * @LastEditTime: 2021-01-18 16:14:36
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \element_vue3.0\src\views\404.vue
-->
<template>
    <common></common>
</template>

<script>
import Common from "@/components/Common";

export default {
    components: { Common },
    setup() {
        return {};
    }
};
</script>

<style lang="scss" scoped></style>
